{% extends 'Customer/base.html' %}

{% block content %}
<div class="col">
<div class="container mt-4">
    <h3>Cupons Detials</h3>
    <div class="row">

        {% for cupon in cupons %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{cupon.image.image.url}}" class="card-img-top" alt="Coupon 1 Image">
          <div class="card-body">
            <h5 class="card-title">{{cupon.ammount}}</h5>
            <p class="card-text">This is the cuppon rewarded after ordering {{cupon.menu_item.name}} you need to use 
              it when ordering {{cupon.menu_item.name}} Another time
            </p>
          </div>
          <span> <a class="btn-info text-center" href="{% url 'cart' cupon.menu_item.id%}">Use it</a></span>
        </div>
      </div>
    {% endfor %}
  
    </div>
  </div>
</div>
{%endblock%}