{% extends 'Customer/base.html' %}
{% block content%}

 <h3 style="text-align: center;">Food Menu</h3>
<div class="container">
 <div class="row">
    {% for menu_item in menu_items %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if menu_item.menuimage.image %}
            
            <a href="{% url 'menu_item_description' menu_item.menuitems.id %}">
              <img src="{{menu_item.menuimage.image.url}}" class="card-img-top" alt="{{item.name}}">
            </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">Food Name: {{menu_item.menuitems.name}}</h5>
                <h6 class="card-text">Food Price: {{menu_item.menuitems.price}}/=</h6>
            
                <div class="star-ratings">
                  <span class="stars" data-rating="{{ menu_item.menuitems.average_rating }}">
                    <p class="text-black text-center">
                      <i id="{{menu_item.menuitems.id}}"></i>
                      <i class="">{{menu_item.menuitems.average_rating}}</i>
                      <i class="btn-info"><a class = "text-white" href="#">rating details</a></i>
                    </p>
                    <script>
                      var ratings = {{menu_item.menuitems.average_rating}};
                      var starRating = document.getElementById("{{menu_item.menuitems.id}}");
                      for(let i = 1; i <= 5; i++){
                        var star = document.createElement('span');
                        if(i <= ratings || i<=(ratings+0.25)){
                          star.style.color = "gold";
                          star.className = "mdi mdi-18px mdi-star";
                        }else{
                          if(i <= (ratings + 0.75)){
                          star.style.color = "gold";
                          star.className = "mdi mdi-18px mdi-star-half";
                        }else{
                          star.style.color = "gray";
                          star.className = "mdi mdi-18px mdi-star";
                        }
                        }
                        starRating.appendChild(star);
                      }
                    </script>
                  </span>
              </div>
              <div class="row">
                <i class=" col">{{menu_item.menuitems.orders_number}} Orders</i>
                <button class="update-button col btn-primary" data-toggle="modal" data-target="#updateModal{{ menu_item.menuitems.id }}">Cart</button>
              </div>                   
            </div>

            <div class="modal fade" id="updateModal{{ menu_item.menuitems.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateModalLabel">Cart {{menu_item.menuitems.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Add a form for updating the menu -->
                  <form method="post" action="{% url 'add_order'%}">
                    {% csrf_token %}
                    <br>
                    <div class="form-group">
                      <label for="rating">Food carting</label>
                      <input type="hidden" name="rating" value="0" class="form-control rating-value">
                    </div>
                    <div class="rating">
                        <div class="form-group">
                          <select class="form-control form-control-lg" name="table_id" id="">
                            {% for table in tables %}
                            <option class="form-control form-control-lg" value="{{table.id}}">{{table.table_number}}</option>
                            {% endfor %}
                          </select>
                            <input class="form-control form-control-lg" type="hidden" name="menu_id" value="{{menu_item.menuitems.id}}">
                    </div>
                    <!-- This will render the form fields for updating the menu -->
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    {% endfor %}
{%endblock%}