<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="{% url 'home' %}" class="nav-link" data-toggle="offcanvas">
        <div class="nav-profile-image">
          {% if user.profile %}
            <img src="{{ user.profile.url }}" alt="profile" />
          {% endif %}
          <span class="login-status online"></span>
          <!-- change to offline or busy as needed -->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{ user.username }}</span>
          <span class="text-secondary text-small">{{ user.user_type }}</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  data-toggle="minimize" href="{% url 'home' %}">
        <span class="menu-title" data-toggle="offcanvas">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id = "manage-menu-item">
        <span class="menu-title" data-toggle="offcanvas">View Food items</span>
        <i class="mdi mdi-food menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id = "my-order">
        <span class="menu-title" data-toggle="offcanvas">My orders</span>
        <i class="mdi mdi-food-fork-drink menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">My coupons</span>
        <i class="mdi mdi-ticket menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">My reservation</span>
        <i class="mdi mdi-calendar-alert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">My rewards</span>
        <i class="mdi mdi-gift menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
<script>
  // Handle clicks on the sidebar link
$('#manage-menu-item').click(function(e) {
  e.preventDefault();
  loadContent('{% url "manage_menu_item" %}');
});

$('#my-order').click(function(e) {
  e.preventDefault();
  loadContent('{% url "my_order" %}');
});

// Function to load content via AJAX
function loadContent(url) {
  $.ajax({
      url: url,
      type: 'GET',
      success: function(response) {
          $('#main-content').html(response);
          history.pushState(null, null, url);
      },
      error: function(error) {
          console.log(error);
      }
  });
  
$(window).on("popstate", function() {
    var url = location.pathname;
    $.ajax({
        url: url,
        success: function(data) {
            $("#main-content").html(data);
        }
    });
});
}

</script>