<!-- templates/inventory/edit_food_item.html -->
{% extends 'Chef/base.html' %}

{% block content %}
<br>
<div style="margin-left: auto; margin-right: auto;" class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Use Food Item</h4>
      <p class="card-description">Enter the amount of food that you wish to take from the Store</p>
      {% for message in messages %}
        <h4>{{ message }}</h4>
      {% endfor %}
      <form class="forms-sample">
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
          </div>
        </div>
        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}