<!-- templates/inventory/food_item_list.html -->
{% extends 'Storekeeper/base.html' %}

{% block content %}
<br>

<!--<div class="col-md-4 grid-margin stretch-card" style="margin-left: 20px;">-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <h4 class="card-title">Stocks Available</h4>-->
<!--      <ul class="list-star">-->
<!--        {% for food_item in food_items %}-->
<!--          <li>-->
<!--            <a href="{% url 'view_food_item' food_item.name %}">{{ food_item.name }}</a>-->
<!--            - <a href="{% url 'edit_food_item' food_item.pk %}">Edit</a>-->
<!--          </li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
<!--      <a href="{% url 'add_food_item' %}">Add Food Item</a>-->
<!--      <div class="col">-->
<!--        <a href="#" class="add-button btn-success" data-toggle="modal" data-target="#add">Add Food Item</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <a href="#" class="add-button btn-success" data-toggle="modal" data-target="#add">Add Food Item</a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
          <thead>
            <tr>
              <th> Food Item Name </th>
              <th> Description </th>
              <th> Quantity </th>
              <th> Expire Date </th>
              <th> Edit </th>
              <th> Detail </th>
            </tr>
          </thead>
          <tbody>
            {% for food_item in food_items %}
              <tr>
                <td class="py-1">{{ food_item.name|upper }}</td>
                <td>{{ food_item.description }}</td>
                <td>{{ food_item.quantity }}</td>
                <td>{{ food_item.expiration_date }}</td>
                <td><a href="#" class="add-button btn-primary" data-toggle="modal" data-target="#edit"
                style="padding: 4px; border-radius: 6px;">Edit</a></td>
                <td><a href="{% url 'view_food_item' food_item.name %}" class="add-button btn-success"
                style="padding: 4px; border-radius: 6px;">Detail</a></td>
              </tr>

            <!--  Editing Stock Item-->
              <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel1">Add user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Add a form for updating the menu -->
                <form method="post" action="{% url 'edit_food_item' food_item.pk%}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="edit-name" name='name' value="{{food_item.name|upper}}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="edit-description" name='description' value="{{food_item.description}}">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control form-control-lg" id="edit-quantity" name='quantity' value="{{food_item.quantity}}">
                  </div>
                  <div class="form-group">
                    <label for="expireDate">Expiration Date</label>
                    <input type="date" class="form-control form-control-lg" id="edit-expireDate" name='expireDate' value="{{food_item.expiration_date}}">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control form-control-lg" id="edit-reorderQuantity" name='reorderQuantity' value="{{food_item.reorder_quantity}}">
                  </div>
                    <!-- This will render the form fields for updating the menu -->
                  <button type="submit" class="btn btn-primary">Edit Food</button>
                </form>
              </div>
            </div>
          </div>
        </div>
            {% endfor %}
          </tbody>
        </table>
        </div>

      </div>
    </div>
  </div>

  <!--Adding user-->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Add user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Add a form for updating the menu -->
                <form method="post" action="{% url 'add_food_item'%}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="name" name='name' placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="description" name='description' placeholder="Description">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control form-control-lg" id="quantity" name='quantity' placeholder="Quantity">
                  </div>
                  <div class="form-group">
                    <label for="expireDate">Expiration Date</label>
                    <input type="date" class="form-control form-control-lg" id="expireDate" name='expireDate' placeholder="Expiration Date">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control form-control-lg" id="reorderQuantity" name='reorderQuantity' placeholder="Reorder Quantity">
                  </div>
                    <!-- This will render the form fields for updating the menu -->
                  <button type="submit" class="btn btn-primary">Add Food</button>
                </form>
              </div>
            </div>
          </div>
        </div>

{% endblock content %}
