<!-- templates/inventory/food_item_list.html -->
{% extends 'Storekeeper/base.html' %}

{% block content %}
<br>

<div class="col-md-4 grid-margin stretch-card" style="margin-left: 20px;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Stocks Available</h4>
      <ul class="list-star">
        {% for food_item in food_items %}
          <li>
            <a href="{% url 'view_food_item' food_item.name %}">{{ food_item.name }}</a>
            - <a href="{% url 'edit_food_item' food_item.name %}">Edit</a>
          </li>
        {% endfor %}
      </ul>
      <a href="{% url 'add_food_item' %}">Add Food Item</a>
    </div>
  </div>
</div>
{% endblock content %}
