<!DOCTYPE>
<html>
    <head>
        <title>Employees Register</title>
    </head>
    <body>
        <table border=1 style="border-collapse:collapse">
            </thead>
                <tr>
                    {% comment %} <th>Employee ID</th> {% endcomment %}
                    <th>Employee Name</th>
                    <th>Job title</th>
                    <th>Date Hired</th>
                    <th>Employment Status</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employments %}
                <tr>
                    {% comment %} <td>{{ emp.employee}}</td> {% endcomment %}
                    <td>{{ emp.employee}}</td>
                    <td>{{ emp.job_title }}</td>
                    <td>{{ emp.date_of_hire }}</td>
                    <td>{{ emp.employment_status }}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
    </body>

</html>