<!DOCTYPE>
<html>
    <head>
        <title>Employees Register</title>
    </head>
    <body>
        <table border=1 style="border-collapse:collapse">
            </thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Region Of birth</th>
                    <th>District Of Birth</th>
                    <th>ward Of Birth</th>
                    <th>Current Region</th>
                    <th>Current District</th>
                    <th>Current Ward</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in Address %}
                <tr>
                    <td>{{ emp.employee }}</td>
                    <td>{{ emp.RegionOfBirth }}</td>
                    <td>{{ emp.DistrictOfBirth }}</td>
                    <td>{{ emp.wardOfBirth }}</td>
                    <td>{{ emp.CurrentRegion }}</td>
                    <td>{{ emp.CurrentDistrict }}</td>
                    <td>{{ emp.CurrentWard}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
    </body>

</html>