h1,
h2,
h3,
h4,
h5,
h6 {
    color: #75bb6d;
    text-align: center;
}

a {
    text-decoration: none;
}

.valid::before {
    content: "\2713";
    /* Checkmark character */
    color: green;
}

.invalid::before {
    content: "\2717";
    /* Cross character */
    color: red;
}

.sidebar nav {
    z-index: 9;
}
.w-100px{
    width: 100px;
  }
  .w-200px{
    width: 200px;
  }
  .w-300px{
    width: 300px;
  }
  .w-400px{
    width: 400px;
  }
  .w-500px{
    width: 500px;
  }
  .w-600px{
    width: 600px;
  }
  .w-full{
    width: 100vw;
  }
  .w-auto{
    min-width: 100px;
    max-width: 600px;
    display: flex;
  }
  /* .text-fluid{
    justify-content: center;
    display: flex;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
   */
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .input-group {
    margin-top: 20px;
    position: relative;
  }
  
  label {
    position: absolute;
    top: -14px;
    left: 0;
    transform-origin: left bottom;
    pointer-events: none;
  }

  input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
    transition: border-bottom 0.3s ease-out;
  }
  
  input:focus,
  input:not(:placeholder-shown) {
    border-bottom: 2px solid #e74c3c;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #e74c3c;
  }
  
  /* Media Query for large screens */
  @media screen and (min-width: 768px) {
    .flex-row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .input-group {
      margin-right: 20px;
    }
  }