
{% if messages %}
<div class="container" style="position: fixed; z-index: 1000;"  tabindex="-1">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </div>
</div> 
<script>
  // Automatically close alert messages after 5 seconds
  setTimeout(function() {
    $(".alert").alert('close');
  }, 7000);
</script> 
{% endif %}
<div id="loading" style="display: none;">
  <div class="tenor-gif-embed container" style="position: absolute; z-intex: 1000" data-postid="17313179" data-share-method="host" data-aspect-ratio="1" data-width="70px">
  </div> 
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
