{% extends 'Customer/base.html' %}

{% block content %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <h2>Business Businesses</h2>
        <div>
            {{ business.id }}
            <h3>{{ business.name }}</h3>
            <p>Latitude: {{ order.latitude }}</p>
            <p>Longitude: {{ order.longitude }}</p>
            
            <!-- Display the map for each business -->
            <div id="map_1" class="map-container" style="height: 300px;"></div>
            
            <hr>
        </div>

    <!-- Include Leaflet JavaScript and your custom script -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
            var map1 = L.map('map_1').setView([{{ order.latitude }}, {{ order.longitude }}], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map1);

            // Add marker for each business
            L.marker([{{ order.latitude }}, {{ order.longitude }}]).addTo(map1);
    </script>
{% endblock content %}
