{% extends base_template %}
{% block content%}

<form method="post" action="{% url 'password_change' %}">
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    {% csrf_token %}
    <label for="current_password">Current Password:</label>
    <input type="password" name="current_password" id="current_password" required>
    
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" id="new_password" required>
    
    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" required>
    
    <button type="submit">Change Password</button>
  </form>
{%endblock%}