<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
  </head>
  <body>
    <center>
    <div class="form">
        <form action>
          <h2>Register Form</h2><br>
                <div class="input">
                    <input required class="input-field" type="text" name="firstname">
                    <label for="firstname">Enter your firstname</label>
                </div>
                <div class="input">
                    <input required class="input-field" type="text" name="lastname">
                    <label for="Lastname">Enter your lastname</label>
                </div>
                <div class="input">
                    <input required class="input-field" type="email" name="email">
                    <label for="email">Enter your email</label>
                </div>
                <div class="input">
                    <input required class="input-field" type="password" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="input">
                    <input required class="input-field" type="password" name="password1">
                    <label for="password">Confirm Password</label>
                </div>
                <br>
                <div class="submit">
                    <input  type="submit" value="Submit">
                </div>
                <br>
                <span>Have an account? <a href="login.html">login now</a></span>
        </form>
        
    </div>
  </center>
  <br><br><br>
  <br><br><br>
  </body>
</html>
