{% extends 'Chef/base.html' %}
{% block content%}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-7 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  brand-logo
                </div>
                {% for message in messages%}
                <h3>{{message}}</h3>
                {%endfor%}
                <h4 class="font-weight-light">Add Menu image</h6>
                <form class="pt-3" enctype="multipart/form-data" action="{% url 'add_menu_image'%}" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                    <select class="form-control form-control-lg" name="menu_id" id="id_category">
                        <option value="">Select</option>
                        {%for menuitem in menuitems%}
                        <option value="{{menuitem.id}}">{{menuitem.name}}</option>
                        {%endfor%}
                    </select>
                  </div>
                  <div class="form-group">
                    <h5 style="text-align: center;">Add Item Image</h5>
                    <input type="file" class="form-control form-control-lg" id="exampleInputUsername1" name='image'>
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Add</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
        const categoryDropdown = document.getElementById("id_category");
        const itemDropdown = document.getElementById("id_item");
    
        categoryDropdown.addEventListener("change", () => {
            const categoryId = categoryDropdown.value;
            fetch(`get-items/?category_id=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    itemDropdown.innerHTML = "";
                    const defaultitemOption = document.createElement("option");
                    defaultitemOption.value = "";
                    defaultitemOption.text = "Select Now";
                    defaultitemOption.disabled = true;
                    defaultitemOption.selected = true;
                    itemDropdown.appendChild(defaultitemOption);
                    data.items.forEach(item => {
                        const option = document.createElement("option");
                        option.value = item.id;
                        option.text = item.name;
                        itemDropdown.appendChild(option);
                    });
                    rmeasureDropdown.innerHTML = "";
                    if(data.items.length===1){
                        itemDropdown.dispatchEvent(new Event("change"));
                    }
                });
        });
    </script>
    <!-- container-scroller -->
{%endblock%}