<div class="col-lg-12 grid-margin stretch-card" style="margin: 5px;">
    <div class="card">
      <div class="">
        <h4>Menu items details</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Menu Item Name</th>
                <th>Ingredients Price</th>
                <th>Selling Price</th>
                <th>Profit / one</th>
                <th>Descriptions</th>
              </tr>
            </thead>
            <tbody>
              {% for menu_item in menu_items %}
                <tr>
                  <td>
                    {{menu_item.menuitems.category.name}}
                  </td>
                  <td>{{menu_item.menuitems.name}}</td>
                  <td>{{menu_item.menuitems.ingredient_cost}}</td>
                  <td>{{menu_item.menuitems.price}}</td>
                  <td>{{menu_item.menuitems.item_profit}}</td>
                  <td> <a class="btn-success ajax-link" href="{% url 'menu_item_description' menu_item.menuitems.id%}">Description</a></td>
                  {% comment %} <td>
                    {% if menu_item.menuimage.image %}
                    <a href="{{menu_item.menuimage.image.url}}">
                    <img src="{{menu_item.menuimage.image.url}}" style="border-radius: 0px; width: 100px; height: 150px;" class="img-fluid" alt="{{item.name}}">
                  </a>
                    {% endif %}
                  </td> {% endcomment %}
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>