

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="">

        <div class="row">
          <div class="col">
            <div class="row">
              <h4 class="col card-title">Users Management</h4>
            </div>
          </div>
        </div>

        <!--Adding user-->        
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Add user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Add a form for updating the menu -->
                <form method="post" action="{% url 'add_user'%}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" name='firstname' placeholder="firstname">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" name='lastname' placeholder="lastname">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" name='email' placeholder="Email">
                  </div>
                  <div class="form-group">
                    <select class="form-control form-control-lg" name="user_type" id="">
                      {%for user_type in user_types%}
                      <option value="{{user_type.id}}">{{user_type.user_type}}</option>
                      {%endfor%}
                    </select>
                   </div>
                    <!-- This will render the form fields for updating the menu -->
                  <button type="submit" class="btn btn-primary">Add User</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--Confirm deactivate-->
        <div class="modal fade" id="deactivate" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Deactivate all user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to deactivate all users?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{% url 'deactivate_all_user'%}">Deactivate</a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="activate" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">activate all user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to activate all users?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" href="{% url 'activate_all_user'%}">Activate</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a href="#" class="add-button btn-success" data-toggle="modal" data-target="#add">Add User</a>
          </div>
          <div class="col">
            <a href="#" class="deactivate-button btn-success" data-toggle="modal" data-target="#activate">acivate all users</a></h4>
          </div>
          <div class="col">
            <a href="#" class="deactivate-button btn-danger" data-toggle="modal" data-target="#deactivate">Deacivate all users</a></h4>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>First name</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>User_type</th>
                <th>Profit</th>
                <th colspan="3" style="text-align: center;">Actions</th>
              </tr>customer_profit
            </thead>
            <tbody>
              {% for userr in users %}
                <tr>
                  <td class="py-1">
                    {% if userr.profile %}
                      <img src="{{ userr.profile.url }}" alt="image" />
                    {% endif %}
                  </td>
                  <td>{{ userr.first_name }}</td>
                  <td>{{ userr.last_name }}</td>
                  <td>{{ userr.username }}</td>
                  <td>{{ userr.user_type }}</td>
                  <td>{{ userr.customer_profit }}</td>
                  <td>
                    <form method="post" action="{% url 'userprofile'%}">
                      {% csrf_token %}
                      <input type="hidden" name = "id" value="{{userr.id}}">
                      <button class="btn-success" type="submit"> View</button>
                    </form>
                  </td>
                  <td><button class="update-button btn-danger" data-toggle="modal" data-target="#deleteModal{{ userr.id }}">Delete</button></td>
                  {%if userr.is_active %}
                  <td><button class="update-button btn-warning" data-toggle="modal" data-target="#deactivateModal{{ userr.id }}">Deactivate</button></td>
                  {%else%}
                  <td><button class="update-button btn-success" data-toggle="modal" data-target="#updateModal{{ userr.id }}">Activate</button></td>
                  {%endif%}


                  <!-- Modal for Update Confirmation -->
                  <div class="modal fade" id="updateModal{{ userr.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updateModalLabel">Activate {{userr.username}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to Activate this user?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-success" href="{% url 'activate_user'  userr.id  %}">Activate</a>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal for Update Confirmation -->
                  <div class="modal fade" id="deactivateModal{{ userr.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updateModalLabel">Deactivate {{userr.username}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to deactivate {{userr.username}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-danger" href="{% url 'deactivate_user' userr.id %}">Deacivte</a>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal for Delete Confirmation -->
                  <div class="modal fade" id="deleteModal{{ userr.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete {{userr.username}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete {{userr.username}}?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-danger" href="{% url 'delete_user' userr.id %}">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

