<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <title>Homepage</title>
  </head>
  <body>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="{% url 'home'%}" data-toggle="offcanvas" class="nav-link">
            <div class="nav-profile-image">
              {% if user.profile %}
                <img src="{{user.profile.url}}" alt="profile" />
              {% endif %}
              <span class="login-status online"></span>
              <!-- change to offline or busy as needed -->
            </div>
            <div class="nav-profile-text d-flex flex-column">
              <span class="font-weight-bold mb-2">{{user.username}}</span>
              <span class="text-secondary text-small">{{user.user_type}}</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}" data-toggle="offcanvas">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link"  data-bs-toggle="collapse" data-toggle="offcanvas" href="{%url 'manage_user' 0%}" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Manage Users</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          {% comment %} </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              {%for user_type in user_types %}
              <li class="nav-item">
                <a class="nav-link" id = "manage-user{{user_type.id}}" href="{%url 'manage_user' user_type.id%}">{{user_type.user_type}}</a>
              </li>
              
              {%endfor%}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'manage_user' 0%}">All</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'add_user_type'%}">Add user types</a>
              </li>
            </ul>
          </div>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link " id="manage-user" href="{%url 'manage_user' 0%}" data-toggle="offcanvas">
            <span class="menu-title">Manage users</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="manage-menu-category" data-toggle="offcanvas" href="{%url 'manage_menu_category'%}">
            <span class="menu-title">Manage menu categories</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="offcanvas" id = "manage-sale" href="{% url 'manage_sale'%}">
            <span class="menu-title">Manage sales</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="offcanvas" id="check-waiter" href="{% url 'waiter_activity_check'%}">
            <span class="menu-title">Check Waiter's activity</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="offcanvas" id = "manage-menu-item" href="{% url 'manage_menu_item'%}">
            <span class="menu-title">Manage Menu Item</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
